.paginationContainer {
  margin: 30px 0;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.pagination button {
  border: none;
  color: #fff;
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #00377e;
}

.pagination button.disabled {
  cursor: not-allowed;
  background-color: #00214d;
}

.pagination p {
  padding: 5px 10px;
  font-size: 18px;
}

.active {
  border: 3px solid #00377e;
  color: #fff;
}
