.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.pagination button {
  cursor: pointer;
  background-color: #9ba2ff;
  padding: 5px;
  border: none;
  border-radius: 5px;
}

.pagination p {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
}

.pagination div {
  display: flex;
  align-items: center;
  gap: 32px;
}

.disabled {
  cursor: not-allowed !important;
  opacity: 0.5;
}

.current {
  border: 1px solid #9ba2ff;
  border-radius: 5px;
}
