.container {
  position: relative;
  margin-bottom: 32px;
}

.searchForm {
  display: flex;
  gap: 16px;
}

.searchForm input {
  padding: 10px;
  width: 300px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: #1b1b1e;
}

.searchForm select {
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: #1b1b1e;
}
